body {
  background-color:#5f6171;
  font-family: arial;
  /*Button*/
  font-size: 16px;
  font-family: 'Helvetica', 'Arial', sans-serif;
}
.button{
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 15px;
  letter-spacing: 4px;
  position: relative;
  background-color: #16a085;
  border: none;
  color: #fff;
  padding: 2px;
  width: 100px;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  box-shadow: 0 2.5px 12.5px #193047;
  border-radius: 2px;
}

.button:hover {
  background: #fff;
  box-shadow: 0px 2px 10px 5px #1abc9c;
  color: #000;
}
.button:after {
  content: "";
  background: #1abc9c;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.button:focus {
  outline: 0;
}
.name{
  font-family: 'Lobster', cursive;
  font-size: 45px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  position: relative;

}
